{% extends 'admindashboard/base.html' %}
{% load static %}

{% block maincontent %}
<style>
    .data-report-product{
        margin-top: 50px;
    }
</style>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5" id="data">
    <div class="d-flex justify-content-center align-items-center flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
        <!-- Display Data, Reports, and Product Information Here -->
        <div class="data-report-product card-section">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Registered User</h5>
                            <p class="card-text">Total number of users registered {{usercount}}</p>
                            <a href="{% url 'admindashboard:users' %}" class="btn btn-primary">View users</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total number of products</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="{% url 'admindashboard:list-product' %}" class="btn btn-primary">View products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add your data, reports, and product content here -->
        <!-- <h1>Data and Reports</h1>
        <p>This is where you can display your data, reports, and product information.</p> -->
    </div>
</main>
{% endblock maincontent %}

    <!-- Add Bootstrap JS and jQuery script links here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
