{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Results{% endblock title %}

{% block main-content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title text-primary">Order</h4>
          <hr>
              <table class="table table-stripeds table-bordereds">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sub total price</th>
                  </tr>
                  {% for item in order_items %}
                  <tr>
                    <td>
                      <img src="{{ item.image }}" alt="{{ item.title }}" height="50px" class="me-2" width="50px">
                      {{item.item}}</td>
                    <td>{{item.price }}</td>
                    <td>{{item.product.qty}}</td>
                    <td>{{item.total}}</td>
                    <td><a href="{% url 'app:orders-details' item.id %}" class="btn btn-primary">Order Details</a></td>
                  </tr>
                  {% endfor %}
                </thead>
              </table>
                </div>
              </div>
        </div>
  </div>
</div>



{% endblock %}
