{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}

<style>
  h4 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }

  hr {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 50%;
  }
</style>

<div class="container mt-5">
  <div class="text-center">
    <h4 class="mb-4">Discover Our Products</h4>
    <!-- <span class="">{{ product.count }}</span> -->
    <hr class="mb-5">
  </div>
  <div class="row">
    {% for p in product %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="{{ p.product_image.url }}"  class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>
          <p class="card-text">{{ p.description|truncatechars:50 }}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <span class="fw-bold price_{{p.id}}">Price: <i class="fa-solid fa-indian-rupee-sign "></i> {{ p.selling_price }}</span>
            <a href="{% url 'app:productdetail' p.id %}" class="btn btn-primary">View Details</a>


            <input type="text" class="id_{{p.id}}" value="{{ p.id }}" hidden>
            <input type="text" class="title_{{p.id}}" value="{{ p.title }}" hidden>
            <input type="text" class="image_{{p.id}}" value="{{ p.product_image.url }} " hidden>
            <input type="number" min="1" class="qty_{{p.id}}" value="1" hidden>




           <button data-index="{{p.id}}" class="add-to-cart">
             <a href="{% url 'app:add-to-cart' %}">
            <i class="fas fa-shopping-cart"></i> 
          </a>
        </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock main-content %}
